* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.form {
  display: flex;
  gap: 10px;

  align-items: flex-end;
}

input {
  width: 200px;
  height: 40px;

  font-size: medium;
  text-align: center;

  padding: 5px;

  border: 1px solid #000000;
  border-radius: 4px;
}

button {
  width: 100px;
  height: 40px;

  font-size: medium;

  background-color: rgb(160, 253, 160);

  border: 1px solid;
  border-radius: 5px;

  cursor: pointer;
}

button:disabled {
  background-color: #efeded;
  color: #b1b1b1;

  border: none;

  cursor: auto;
}

.stop {
  background-color: rgb(244, 244, 88);
}

.destroy {
  background-color: tomato;
}

.timer {
  display: flex;
  gap: 20px;

  margin-top: 50px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;

  padding: 10px 0;

  border: 1px solid #cccccc;
  border-radius: 4px;
}

.value {
  font-weight: 700;
  font-size: 40px;
}

.label {
  color: #cccccc;
}
